<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/landing.css">
    <title>landing</title>
</head>
<body>
    <header>
        <a href="/auth">auth</a>
        <a href="/tasks">tasks</a>
    </header>

    <div class="container">
        <h1>TODO - is cool</h1>
        <p>simple platform to do todo</p>
    </div>
</body>
</html>