body {
    background: radial-gradient(
        circle at center,
        lightgrey 0%,
        var(--bg) 20vh
    );
}

header {
    margin: 1vh;
    padding: 2vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 10vw;
    border-radius: 1vh;
    background-color: var(--glass);
}

a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: var(--text);
}

.container {
    padding: 2vh;
    border-radius: 3vh;
    color: var(--text);
    background-color: var(--glass);
}

.container p {
    text-align: center;
}

@media (max-width: 1024px) {
    header {
        width: 50vw;
    }
}